#para1{
    margin-left: 400px;
    margin-top: -40px;
    border: 1px solid black;
    width: 600px;
    background-color: aqua;
    position: fixed;
}
#para2{
    margin-left: 550px;
    margin-top: -40px;
    position: fixed;
}
#para3{
    margin-left: 800px;
    margin-top: -40px;
    position: fixed;
}
#moto3{
    margin-left: 400px;
}
#mani2{
    margin-left: 400px;
}

    

