#logo1{
    color: orange;
}
#logo2{
    color: blue;
}
#logo3{
    color: red;
}
#birds{
    width: 300px;
    height: 200px;
    background-color: black;
}
#container-1{
    background-color: black;color: orange;
    
}
